<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class = "baseLayout">


    {% block content %}
    {% endblock %}
  

</body>
</html>