{% extends "baseLayout.njk" %}

{% block content %}
<div class = "screen">
  <img src = "/images/image19.png" alt = "intro-background" class = "intro-bkg">


 <div class="intro-text">
    I am the GREAT YODINI, <br>
    and I have been expecting you~
  </div>


<a href = "/page2" class = "button">Continue</a>
</div>

{% endblock %}