{% extends "baseLayout.njk" %}
{% block content %}
  <div class="screen">
    <img src="/images/background2.svg" alt="intro-background" class="intro-bkg">
    <img src="/images/hidden-yodini2.svg" alt="intro-background" class="yodini-intro">
   

  <div class = "intro-form">

 <div class="intro-text" id = "typeOut">
      I am the GREAT YODINI, <br> and I have been expecting you~
    </div>

    <h1 class = "sub-intro-text">What is your name and question?</h1>
    <form action="/inquiry" method="POST" class = "yodini-form">
      <input type="text" name="name" placeholder="enter your name"/>
      <input type="text" name="question" placeholder="enter your question"/>
      <button type="submit" class = "button">Submit</button>
    </form>
  </div>


  </div>

  
{% endblock %}