{% extends "baseLayout.njk" %}

{% block content %}
<div class = "screen">
  <img src = "/images/background2.svg" alt = "intro-background" class = "intro-bkg">
 <img src = "/images/hidden-yodini2.svg" alt = "intro-background" class = "yodini-intro">


 <div class="intro-text">
    I am the GREAT YODINI, <br>
    and I have been expecting you~
  </div>


<a href = "/page2" class = "button">Continue</a>
</div>
<div>
  <h1>What is your name and concern</h1>
  <form action="/inquiry" method="POST">
    <input type="text" name="name" placeholder="enter your name" />
    <input type="text" name="question" placeholder="enter your question" />
    <button type="submit">Submit</button>
  </form>
</div>


{% endblock %}