{% extends "baseLayout.njk" %}

{% block content %}
<div class = "screen">
  <img src = "/images/background2.svg" alt = "intro-background" class = "intro-bkg">
<img src = "/images/yodini&table.svg" alt = "intro-background" class = "yodini-bkg">





</div>



{% endblock %}