{% extends "baseLayout.njk" %}

{% block content %}
<div class = "screen">
  <img src = "/images/background2.svg" alt = "intro-background" class = "intro-bkg">
<img src = "/images/yodini.svg" alt = "intro-background" class = "yodini-last">

<div id="finalVerdict" class = "final-verdict">
 <h1 >{{data.name}}</h1>
  <h2>{{data.question}}</h2>
  <p>{{data.reading}}</p>
</div>

 



</div>



{% endblock %}