{% extends "baseLayout.njk" %}

{% block content %}
<div class = "screen">
  <img src = "/images/background2.svg" alt = "intro-background" class = "intro-bkg">
<img src = "/images/yodini&table.svg" alt = "intro-background" class = "yodini-bkg">


<div class = "stack-cards">
<img src = "/images/tarot1.jpeg" class = "tarot-card">
</div>

<div class = "tarot-grid">
  <img src = "/images/tarot1.jpeg" class = "tarot-card">
  <img src = "/images/tarot1.jpeg" class = "tarot-card">
    <img src = "/images/tarot1.jpeg" class = "tarot-card">
  </div>

<a href = "/page3"><img src="/images/tarot1.jpeg" class="cont-card"></a>


</div>



{% endblock %}