{% extends "baseLayout.njk" %}

{% block content %}
<div class = "screen">

<div class = "tarot-prompts">
    <div class = "line-1"></div>
    <div class = "line-2"></div>
 <div class = "line-3"></div>
  </div>


  <img src = "/images/background2.svg" alt = "intro-background" class = "intro-bkg">
<img src = "/images/yodini&table.svg" alt = "intro-background" class = "yodini-bkg">


<div class = "stack-cards">
<img src = "/images/deck-of-cards.svg" class = "stack-card">
</div>

<div class = "tarot-grid">
  <img src = "/images/back-of-card.svg" class = "tarot-card">
  <img src = "/images/back-of-card.svg" class = "tarot-card">
    <img src = "/images/back-of-card.svg" class = "tarot-card">
  </div>

<a href = "/page3"><img src="/images/ticket.svg" class="cont-card"></a>


</div>



{% endblock %}