.baseLayout{
    margin: 0;
    padding:0;
    overflow: hidden;
    font-family: "cc-altogether-ooky", sans-serif;
font-weight: 400;
font-style: normal;
}

.h1{
    font-family: "quiet-sans", sans-serif;
font-weight: 400;
font-style: normal;
}

.screen{
    position: relative;
    width: 100vw;
  height: 100vh;
}



.intro-bkg{
    position: absolute;
    width: 100%;
    height:100%;
    object-fit:cover;

}

.yodini-intro{
    position:absolute;
    width:50%;
    height:auto;
    left:5%;
    top:10%;
}

.button{
  
    background-color: rgb(200, 10,200, 0.5);
    padding: 10px 10px;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 8px;
    font-family: "quiet-sans", sans-serif;
    margin-top: 2rem;
    
}

.button:hover{
    box-shadow: 0px 3px 15px -4px #FFFFFF;
    transform: scale(1.05);
}

.intro-text{
    position: absolute;
    color: white;
    font-size: 3rem;
   
    left:55%;
    top:30%;

}
.sub-intro-text{
    text-align: center;
    font-size:1.2rem;
    font-family: "quiet-sans", sans-serif;
    padding-top: 3rem;
}

.intro-form{
    position: absolute;
    /* border: 2px red solid; */
    left:55%;
    top:45%;
    color:white;
       justify-content: center;
    align-items: center;
}

.yodini-form{
    display:flex;
    flex-direction:column;
    gap:10px;
    justify-content: center;
    align-items: center;
    /* border:2px blue solid; */
}

.yodini-form input,
.yodini-form button {
  padding: 8px;
  width: 300px;
}
.yodini-bkg{
    position: absolute;
    bottom:0%;
    left:0%;
    width: 100%;
}

.yodini-last{
    position: absolute;
    top:10%;
    left:0%;
    width: 40%;
}

.tarot-grid{
    position: absolute;

    bottom: 5%;
    left:50%;
    transform: translateX(-50%);
    display:flex;
  gap:40px;
  /* border: 2px red solid; */
  align-items: center;
  justify-content: center;
}


.stack-cards{
    position: absolute;
    bottom: 5%;
    left:10%;
    /* border: 2px blue solid; */
    align-items: center;
justify-content: center;
z-index: 1000;

}
.stack-card{
    width:180px;
}

.tarot-card{
   width: 160px; 
   height: auto;
 align-items: center;
justify-content: center;
}

.cont-card{
    width: 300px;
    height: auto;
    position:absolute;
    bottom: 18%;
    left:75%;
}

.tarot-prompts{
   /* border: 2px blue solid; */
   position: absolute;
   z-index: 200;
   color: #FFFFFF;
   bottom: 70%;
   left:50%;
   font-size: 2rem;
     font-family: "quiet-sans", sans-serif;
     font-size: 1.5rem;
}
.stack-card {
  cursor: pointer;
}

.final-verdict{
    position: absolute;
z-index: 1000;
/* border: 2px red solid; */
 left:45%;
    top:25%;
    color: white;
    width:600px;
     font-family: "quiet-sans", sans-serif;
     font-size: 1.5rem;
}



.ending-button button {
    background-color: rgba(200, 10, 200, 0.5);
    padding: 8px 40px;
    color: white;
    font-size: 1.5rem;
    border-radius: 8px;
    font-family: "quiet-sans", sans-serif;
    border: none;         
    cursor: pointer;
    position: absolute;
    left:60%;
     top:70%;
}    

.ending-button button:hover{
      box-shadow: 0px 3px 15px -4px #FFFFFF;
    transform: scale(1.05);
}



